<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="qnaComment">

	<select id="qnaComment.selectQnaCommentList" parameterType="String" resultType="hashmap">
		<![CDATA[
		SELECT 
			T1.COMMENT_IDX, 
			T1.BOARD_IDX, 
			T1.USER_IDX, 
			T2.USER_ID, 
			T1.DEPTH, 
			T1.PARENT_COMMENT_IDX, 
			IF(T1.PARENT_COMMENT_IDX IS NULL,
				NULL, 
				(SELECT PU.USER_ID
				FROM QNA_COMMENT C
				JOIN QNA_COMMENT P
				ON C.PARENT_COMMENT_IDX = P.COMMENT_IDX
				JOIN USERS CU
				ON C.USER_IDX = CU.USER_IDX
				JOIN USERS PU
				ON P.USER_IDX = PU.USER_IDX
				WHERE C.COMMENT_IDX = T1.COMMENT_IDX)) AS PARENT_USER_ID, 
			T1.BUNDLE_IDX,  
			T1.COMMENT, 
			T1.DELETE_YN, 
			LEFT(T1.REG_DATE,10) REG_DATE, 
			T1.UPDATE_DATE, 
			T1.DELETE_DATE
		FROM QNA_COMMENT T1
		JOIN USERS T2
		ON T1.USER_IDX = T2.USER_IDX
		WHERE T1.BOARD_IDX = #{value}
		ORDER BY T1.BUNDLE_IDX, T1.REG_DATE
		]]>
	</select>
	
	<select id="qnaComment.selectNextBundle_idx" resultType="String">
		<![CDATA[
		SELECT MAX(BUNDLE_IDX)+1
		FROM QNA_COMMENT
		]]>
	</select>
	
	<select id="qnaComment.selectParentBundle_idx" parameterType="String" resultType="String">
		<![CDATA[
		SELECT BUNDLE_IDX
		FROM QNA_COMMENT
		WHERE COMMENT_IDX = #{value}
		]]>
	</select>
	
	<insert id="qnaComment.insertQnaComment" parameterType="writeQnaCommentDTO">
		<![CDATA[
		INSERT INTO QNA_COMMENT
			(BOARD_IDX, USER_IDX, DEPTH, BUNDLE_IDX, COMMENT)
		VALUES
			(#{board_idx}, #{user_idx}, #{depth}, #{bundle_idx}, #{comment})
		]]>
	</insert>
	
	<insert id="qnaComment.insertQnaReComment" parameterType="writeQnaCommentDTO">
		<![CDATA[
		INSERT INTO QNA_COMMENT
			(BOARD_IDX, USER_IDX, DEPTH, PARENT_COMMENT_IDX, BUNDLE_IDX, COMMENT)
		VALUES
			(#{board_idx}, #{user_idx}, #{depth}, #{parent_comment_idx}, #{bundle_idx}, #{comment})
		]]>
	</insert>

</mapper>