<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="asset">

	<select id="asset.selectAssetOne" parameterType="hashmap" resultType="hashmap">
		<![CDATA[
		SELECT 
			ASSET_IDX
			, USER_IDX
			, ASSET_ORDER
			, ASSET_TYPE
			, CONNECTION_ASSET_IDX
			, ASSET_NAME
			, INITIAL_AMOUNT, REG_DATE
		FROM 
			ASSET
		WHERE
			ASSET_IDX = #{asset_idx}
		AND
			USER_IDX = #{user_idx}
		]]>
	</select>
	
    <select id="asset.selectAssetList" parameterType="String" resultType="hashmap">
    	<![CDATA[
    	SELECT ASSET_IDX, ASSET_NAME
    	FROM ASSET
    	WHERE USER_IDX = #{user_idx}
    	]]>
    </select>
    
    <select id="asset.selectAssetDetailedList" parameterType="String" resultType="hashmap">
		<![CDATA[
		SELECT 
			ASSET_IDX
			, ASSET_ORDER
			, ASSET_TYPE
			, CONNECTION_ASSET_IDX
			, ASSET_NAME
			, INITIAL_AMOUNT
			, REG_DATE
			, CASE 
				WHEN 
					ASSET_TYPE = "현금" OR ASSET_TYPE = "신용"
        		THEN 
					(SELECT 
						IFNULL(SUM(CASE 
								WHEN INCOME_AND_EXPENSES='수입' 
								THEN AMOUNT 
								WHEN INCOME_AND_EXPENSES='지출' 
								THEN -AMOUNT
							   ELSE 0 END), 0)
					FROM LEDGER L
					WHERE L.ASSET_IDX = A.ASSET_IDX
					AND L.USER_IDX = #{user_idx})
             		+ A.INITIAL_AMOUNT
				WHEN 
					ASSET_TYPE = "통장"
				THEN 
					(SELECT 
						IFNULL(SUM(CASE
								WHEN INCOME_AND_EXPENSES='수입' 
								THEN AMOUNT 
								WHEN INCOME_AND_EXPENSES='지출' 
								THEN -AMOUNT
							ELSE 0 END), 0)
					FROM LEDGER L
					WHERE L.ASSET_IDX = A.ASSET_IDX
					AND L.USER_IDX = #{user_idx})
             		+ A.INITIAL_AMOUNT
             		+ (SELECT 
						IF(COUNT(*)=0
						, 0
						, IFNULL(SUM(CASE
								WHEN INCOME_AND_EXPENSES='수입' 
								THEN AMOUNT 
								WHEN INCOME_AND_EXPENSES='지출' 
								THEN -AMOUNT
							  ELSE 0 END), 0))
					   FROM LEDGER L
                	   JOIN ASSET JA
                	   ON L.ASSET_IDX = JA.ASSET_IDX
					   WHERE JA.CONNECTION_ASSET_IDX = A.ASSET_IDX
                	   AND JA.ASSET_TYPE = "체크"
                	   AND L.USER_IDX = #{user_idx})
				END AS BALANCE
		FROM ASSET A
		WHERE USER_IDX = #{user_idx}
		ORDER BY ASSET_ORDER ASC;
		]]>
	</select>
	
	<select id="asset.selectCurrentAsset" parameterType="hashmap" resultType="hashmap">
		<![CDATA[
		SELECT
			ASSET_IDX, USER_IDX, ASSET_ORDER,ASSET_TYPE, CONNECTION_ASSET_IDX, ASSET_NAME, INITIAL_AMOUNT, REG_DATE
		FROM 
			ASSET
		WHERE
			USER_IDX = #{user_idx}
		AND
			ASSET_IDX = #{asset_idx}
		]]>
	</select>
	
	<select id="asset.selectPrevAssetOrder" parameterType="hashmap" resultType="hashmap">
		<![CDATA[
		SELECT 
			ASSET_IDX, ASSET_ORDER
		FROM 
			ASSET
		WHERE 
			USER_IDX = #{user_idx}
		AND 
			ASSET_ORDER
			 < (SELECT 
			 		T.ASSET_ORDER 
			 	FROM 
			 		ASSET T 
			 	WHERE 
			 		T.USER_IDX = #{user_idx} 
			 	AND 
			 		T.ASSET_IDX = #{asset_idx})
		ORDER BY 
			ASSET_ORDER DESC
		LIMIT 1 
		]]>
	</select>
	
	<select id="asset.selectNextAssetOrder" parameterType="hashmap" resultType="hashmap">
		<![CDATA[
		SELECT 
			ASSET_IDX, ASSET_ORDER
		FROM 
			ASSET
		WHERE 
			USER_IDX = #{user_idx}
		AND 
			ASSET_ORDER
			 > (SELECT 
			 		T.ASSET_ORDER 
			 	FROM 
			 		ASSET T 
			 	WHERE 
			 		T.USER_IDX =  #{user_idx}
			 	AND 
			 		T.ASSET_IDX = #{asset_idx})
		ORDER BY 
			ASSET_ORDER
		LIMIT 1
		]]>
	</select>
	
	<update id="asset.updateAssetOrder" parameterType="hashmap">
		<![CDATA[
		UPDATE 
			ASSET
		SET
			ASSET_ORDER = #{asset_order}
		WHERE
			USER_IDX = #{user_idx}
		AND	
			ASSET_IDX = #{asset_idx}
		]]>
	</update>
	
	<select id="asset.selectBankAssetList" parameterType="String" resultType="hashmap">
		<![CDATA[
		SELECT 
			ASSET_IDX, ASSET_NAME
		FROM 
			ASSET
		WHERE
			USER_IDX = #{user_idx}
		AND
			ASSET_TYPE = "통장"
		ORDER BY 
			ASSET_ORDER
			]]>
	</select>
	
	<select id="asset.selectLastAssetOrder" parameterType="String" resultType="int">
		<![CDATA[
		SELECT 
			ASSET_ORDER
		FROM 
			ASSET
		WHERE 
			USER_IDX = #{user_idx}
		ORDER BY 
			ASSET_ORDER DESC
		LIMIT 1
		]]>
	</select>
	
	<insert id="asset.insertAsset" parameterType="assetInsertDTO">
		<![CDATA[
		INSERT INTO 
			ASSET(USER_IDX
				, ASSET_ORDER
				, ASSET_TYPE
				, CONNECTION_ASSET_IDX
				, ASSET_NAME
				, INITIAL_AMOUNT)
		VALUES
			(#{user_idx}
			, #{asset_order}
			, #{asset_type}
			, #{connection_asset_idx}
			, #{asset_name}
			, #{initial_amount})
		]]>
	</insert>
	
	<update id="asset.updateAsset" parameterType="assetUpdateDTO">
		<![CDATA[
		UPDATE 
			ASSET
		SET 
		]]>
		<choose>
			<when test="asset_type == '현금'">
				<![CDATA[
				ASSET_NAME = #{asset_name}
				, INITIAL_AMOUNT = #{initial_amount}
				]]>
			</when>
			<when test="asset_type == '통장'">
				<![CDATA[
				ASSET_NAME = #{asset_name}
				, INITIAL_AMOUNT = #{initial_amount}
				]]>
			</when>
			<when test="asset_type == '체크'">
				<![CDATA[
				ASSET_NAME = #{asset_name}
				, CONNECTION_ASSET_IDX = #{connection_asset_idx}
				]]>
			</when>
			<when test="asset_type == '신용'">
				<![CDATA[
				ASSET_NAME = #{asset_name}
				, INITIAL_AMOUNT = #{initial_amount}
				, CONNECTION_ASSET_IDX = #{connection_asset_idx}
				]]>
			</when>
		</choose>
		<![CDATA[
		WHERE
			USER_IDX = #{user_idx}
		AND
			ASSET_IDX = #{asset_idx}
		]]>
	</update>
</mapper>