<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
            <typeAlias type="com.houseledger.app.user.vo.SignUpVO" alias="signUpVO"/>
            <typeAlias type="com.houseledger.app.user.vo.SignInVO" alias="signInVO"/>
            <typeAlias type="com.houseledger.app.user.vo.UserVO" alias="userVO"/>
            <typeAlias type="com.houseledger.app.ledger.dto.LedgerSelectDTO" alias="ledgerSelectDTO"/>
            <typeAlias type="com.houseledger.app.ledger.dto.LedgerInsertDTO" alias="ledgerInsertDTO"/>
            <typeAlias type="com.houseledger.app.stats.dto.StatsSelectDTO" alias="statsSelectDTO"/>
            <typeAlias type="com.houseledger.app.qnaboard.dto.QnaSelectListDTO" alias="qnaSelectListDTO"/>
            <typeAlias type="com.houseledger.app.qnaboard.dto.QnaPostDTO" alias="qnaPostDTO"/>
            <typeAlias type="com.houseledger.app.qnaboard.dto.WriteQnaCommentDTO" alias="writeQnaCommentDTO"/>
            <typeAlias type="com.houseledger.app.qnaboard.dto.WriteQnaPostDTO" alias="writeQnaPostDTO"/>
            <typeAlias type="com.houseledger.app.qnaboard.dto.UploadQnaFileDTO" alias="uploadQnaFileDTO"/>
            <typeAlias type="com.houseledger.app.qnaboard.dto.UploadQnaImageFileDTO" alias="uploadQnaImageFileDTO"/>
            <typeAlias type="com.houseledger.app.qnaboard.dto.QnaFileDTO" alias="qnaFileDTO"/>
            <typeAlias type="com.houseledger.app.qnaboard.dto.EditQnaPostDTO" alias="editQnaPostDTO"/>
            <typeAlias type="com.houseledger.app.admin.dto.UserManagementInfoDTO" alias="userManagementInfoDTO"/>
            <typeAlias type="com.houseledger.app.admin.dto.SelectUserListDTO" alias="selectUserListDTO"/>
            <typeAlias type="com.houseledger.app.mail.dto.WriteMailDTO" alias="writeMailDTO"/>
            <typeAlias type="com.houseledger.app.mail.dto.SelectMailDTO" alias="selectMailDTO"/>
    </typeAliases>

</configuration>