<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
            <typeAlias type="com.houseledger.app.user.vo.SignUpVO" alias="signUpVO"/>
            <typeAlias type="com.houseledger.app.user.vo.SignInVO" alias="signInVO"/>
            <typeAlias type="com.houseledger.app.user.vo.UserVO" alias="userVO"/>
            <typeAlias type="com.houseledger.app.ledger.dto.LedgerSelectDTO" alias="ledgerSelectDTO"/>
            <typeAlias type="com.houseledger.app.ledger.dto.LedgerInsertDTO" alias="ledgerInsertDTO"/>
            <typeAlias type="com.houseledger.app.stats.dto.StatsSelectDTO" alias="statsSelectDTO"/>
            <typeAlias type="com.houseledger.app.qnaboard.dto.QnaSelectListDTO" alias="qnaSelectListDTO"/>
            <typeAlias type="com.houseledger.app.qnaboard.dto.QnaPostDTO" alias="qnaPostDTO"/>
            <typeAlias type="com.houseledger.app.qnaboard.dto.WriteQnaCommentDTO" alias="writeQnaCommentDTO"/>
            <typeAlias type="com.houseledger.app.qnaboard.dto.WriteQnaPostDTO" alias="writeQnaPostDTO"/>
            <typeAlias type="com.houseledger.app.qnaboard.dto.QnaUploadFileDTO" alias="qnaUploadFileDTO"/>
    </typeAliases>

</configuration>