<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="mailList">

	<select id="mailList.countMailList" parameterType="selectMailDTO" resultType="int">
    	<![CDATA[
		SELECT 
			COUNT(*)
		FROM
    		MAIL
    	WHERE
    		MAIL_STATE = "SENT"
    	]]>
    	<if test="keyword != null and keyword != ''">
    		<![CDATA[
			AND (MAIL_TO LIKE '%${keyword}%'
			OR MAIL_SUBJECT LIKE '%${keyword}%'
			OR FN_STRIP_HTML_TAGS(MAIL_CONTENT) LIKE '%${keyword}%')
    		]]>
    	</if>
    </select>

	<select id="mailList.selectMailList" parameterType="selectMailDTO" resultType="hashmap">
    	<![CDATA[
		SELECT 
			MAIL_IDX
			, MAIL_TO
			, MAIL_SUBJECT
			, FN_STRIP_HTML_TAGS(MAIL_CONTENT) MAIL_CONTENT
			, MAIL_STATE
			, LEFT(REG_DATE,10) REG_DATE
		FROM
    		MAIL
    	WHERE
    		MAIL_STATE = "SENT"
    	]]>
    	<if test="keyword != null and keyword != ''">
    		<![CDATA[
			AND (MAIL_TO LIKE '%${keyword}%'
			OR MAIL_SUBJECT LIKE '%${keyword}%'
			OR FN_STRIP_HTML_TAGS(MAIL_CONTENT) LIKE '%${keyword}%')
    		]]>
    	</if>
		<![CDATA[
		ORDER BY MAIL_IDX DESC
		LIMIT #{startPositionOnCurrentPage }, #{numberPostsPerPage }
		]]>
    </select>
    
    <select id="mailList.countStoredMailList" parameterType="selectMailDTO" resultType="int">
    	<![CDATA[
		SELECT 
			COUNT(*)
		FROM
    		MAIL
    	WHERE
    		MAIL_STATE = "STORED"
    	]]>
    	<if test="keyword != null and keyword != ''">
    		<![CDATA[
			AND (MAIL_TO LIKE '%${keyword}%'
			OR MAIL_SUBJECT LIKE '%${keyword}%'
			OR FN_STRIP_HTML_TAGS(MAIL_CONTENT) LIKE '%${keyword}%')
    		]]>
    	</if>
    </select>
    
    <select id="mailList.selectStoredMailList" parameterType="selectMailDTO" resultType="hashmap">
    	<![CDATA[
		SELECT 
			MAIL_IDX
			, MAIL_TO
			, MAIL_SUBJECT
			, FN_STRIP_HTML_TAGS(MAIL_CONTENT) MAIL_CONTENT
			, MAIL_STATE
			, LEFT(REG_DATE,10) REG_DATE
		FROM
    		MAIL
    	WHERE
    		MAIL_STATE = "STORED"
    	]]>
    	<if test="keyword != null and keyword != ''">
    		<![CDATA[
			AND (MAIL_TO LIKE '%${keyword}%'
			OR MAIL_SUBJECT LIKE '%${keyword}%'
			OR FN_STRIP_HTML_TAGS(MAIL_CONTENT) LIKE '%${keyword}%')
    		]]>
    	</if>
		<![CDATA[
		ORDER BY MAIL_IDX DESC
		LIMIT #{startPositionOnCurrentPage }, #{numberPostsPerPage }
		]]>
    </select>
    
    <update id="mailList.deleteMailList" parameterType="java.util.ArrayList">
    	<![CDATA[
    	UPDATE MAIL
		SET MAIL_STATE = "DELETED"
		WHERE MAIL_IDX IN(
		]]>
			<foreach collection="array" item="checkedMail" index="index" separator=",">
			${checkedMail}
			</foreach>
		<![CDATA[
			);
    	]]>
    </update>
	
</mapper>