<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="signUp">
	
    <insert id="signUp.insertUser" parameterType="signUpVO">
    <![CDATA[
    	INSERT INTO USERS
    		(USER_ID, USER_PASSWORD, USER_EMAIL, RECEIVE_MAIL)
    	VALUES
    		(#{user_id}, #{user_password}, #{user_email}, #{receive_mail})
    	]]>
    </insert>
    
    <select id="signUp.checkDuplicateUserId" parameterType="String" resultType="int">
    <![CDATA[
    	SELECT COUNT(*)
    	FROM USERS
    	WHERE USER_ID = #{user_id}
    ]]>
    </select>


</mapper>